APT "";
APT::Update "";
APT::Update::Pre-Invoke "";
APT::Update::Pre-Invoke:: "touch /home/pacmoose/aptitude/var/lib/apt/pre-update-stamp";
APT::Update::Post-Invoke "";
APT::Update::Post-Invoke:: "touch /home/pacmoose/aptitude/var/lib/apt/post-update-stamp";
Dir "/home/pacmoose/aptitude/";
Dir::State "var/lib/apt/";
Dir::State::status "/home/pacmoose/aptitude/var/lib/dpkg/status";
Dir::Bin "";
Dir::Bin::dpkg "/home/pacmoose/aptitude/bin/dpkg";
Aptitude "";
Aptitude::Log "/home/pacmoose/aptitude/var/log/aptitude";
